html{
    background-color: rgb(red, green, blue);
}
body{
    background-color: rgb(red, green, blue);
}
h1{
    background-color: rgb(red, green, blue);
}
p{
    background-color: rgb(red, green, blue);
}
.c1{
    background-color: rgb(red, green, blue);
}